.button{
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 10px;
    text-align: center;
    transition: backgound-color 0.3s, border-color 0.3s;
}

.primary{
    background-color: blue;
    color: white;
}

.secondary{
    background-color: white;
    color: blue;
    border: 2px solid blue;
}

.small{
    padding: 10px 20px;
}

.medium{
    padding: 15px 30px;
}

.large{
    padding: 20px 40px;
}

